@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content
===================================== -->
<section id="content">

    <div id="content-wrap">

        <!-- === Fun Facts =========== -->
        <div id="fun-facts" class="flat-section" data-scroll-index="1">

            <div class="section-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <div class="section-title text-center">
                                @*<h4>@ViewBag.UserNow</h4>*@
                                <h2>Por que escolher o <span class="colored">Estudar Faz Bem</span> ?</h2>

                                <p style="color: black">
                                    Porque, ao basear nossa forma de estudos em jogos, tornamos o aprendizado
                                    <br>
                                    dinâmico e divertido, além de proporcionar ao estudante uma experiência diferente
                                    <br>
                                    de aprendizagem que mantém seu foco por muito mais tempo e sem esforço.
                                    <br>
                                </p>

                            </div><!-- .section-title end -->

                        </div><!-- .col-md-8 end -->
                        <div class="col-md-12">

                            <div class="fun-facts-boxes">
                                <div class="box-counter anim-movebottom-seq text-center">
                                    <div class="bc-content">
                                        <h1><span class="counter-stats">5000</span></h1>
                                        <h5>Perguntas</h5>
                                    </div><!-- .bc-content end -->
                                </div><!-- .box-counter end -->
                                <div class="box-counter anim-movebottom-seq text-center">
                                    <div class="bc-content">
                                        <h1><span class="counter-stats">20</span></h1>
                                        <h5>Disciplinas</h5>
                                    </div><!-- .bc-content end -->
                                </div><!-- .box-counter end -->
                                <div class="box-counter anim-movebottom-seq text-center">
                                    <div class="bc-content">
                                        <h1><span class="counter-stats">80</span></h1>
                                        <h5>Desafios</h5>
                                    </div><!-- .bc-content end -->
                                </div><!-- .box-counter end -->
                                <div class="box-counter anim-movebottom-seq text-center">
                                    <div class="bc-content">
                                        <h1><span class="counter-stats">+536</span></h1>
                                        <h5>Estudantes</h5>
                                    </div><!-- .bc-content end -->
                                </div><!-- .box-counter end -->
                            </div><!-- .fun-facts-boxes end -->

                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .section-content end -->

        </div><!-- .flat-section end -->
        <!-- === Service Features =========== -->
        <div id="service-features" class="parallax-section" data-scroll-index="1" data-parallax-bg-img="img-37.jpg" data-stellar-background-ratio="0.2">

            <div class="overlay-colored" data-bg-color="#000" data-bg-color-opacity="0.4"></div><!-- .overlay-colored end -->
            <div class="section-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-lightbulb"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">CFO - Barro Branco/SP</h4>
                                    <p>
                                        Escolha seu plano e tenha acesso a todo conteúdo.
                                    </p>
                                    <h5 class="capitalized">Mensal, Semestral<br> ou Anual</h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-tools"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">CSTAPM - Barro Branco</h4>
                                    <p>
                                        Escolha seu plano e tenha acesso a todo conteúdo.
                                    </p>
                                    <h5 class="capitalized">Mensal, Semestral<br> ou Anual</h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white mb-50 anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-layers"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">CFS - Sargento PM</h4>
                                    <p>
                                        Escolha seu plano e tenha acesso a todo conteúdo.
                                    </p>
                                    <h5 class="capitalized">Mensal, Semestral<br> ou Anual</h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white mb-md-50 anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-strategy"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">SOLDADO 2ª CLASSE</h4>
                                    <p>
                                        Escolha seu plano e tenha acesso a todo conteúdo.
                                    </p>
                                    <h5 class="capitalized">Mensal, Semestral<br> ou Anual</h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white mb-md-50 anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-gears"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">CURSO PRESENCIAL</h4>
                                    <p>
                                        Você é aluno dos cursos presenciais dos nossos parceiros?
                                    </p>
                                    <h5 class="capitalized">Solicite o acesso a plataforma. <br>Se já possui </h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Acesse Aqui</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                        <div class="col-md-4">

                            <div class="box-info box-info-1 text-white anim-scaledown-seq">
                                <div class="box-icon icon x2 colorful-icon mr-20"><i class="icon-chat"></i></div>
                                <div class="box-content">
                                    <h4 class="capitalized">OUTRO CURSO</h4>
                                    <p>
                                        Escolha seu plano e tenha acesso a todo conteúdo.
                                    </p>
                                    <h5 class="capitalized">Mensal, Semestral<br> ou Anual</h5>
                                    <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>
                                </div><!-- .box-content end -->
                            </div><!-- .box-info-1 end -->

                        </div><!-- .col-md-4 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .section-content end -->

        </div>
        <!-- .parallax-section end -->
        <!-- === Watch Video =========== -->
        <div id="watch-video" class="flat-section" data-scroll-index="2">

            <div class="section-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <div class="section-title text-center">
                                <h2>Veja com funciona o Jogo</h2>
                                <p>
                                    É bem simples e intuitivo, basta escolher o jogo e responder as perguntas, acumular pontos
                                    <br> e se divertir aprendendo. Experimente!!!
                                </p>
                            </div><!-- .section-title end -->

                        </div><!-- .col-md-8 end -->
                        <div class="col-md-10 col-md-offset-1">

                            @*<div class="video-preview"><iframe src="http://player.vimeo.com/video/95558527"></iframe></div>*@
                            <div class="video-preview">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qOBLAYhUCIw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>

                        </div><!-- .col-md-10 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .section-content end -->

        </div>

        <!-- .flat-section end -->
        <!-- ==VOU COMENTAR AQUI ENQUANTO NAO TEM VIDEO COMERCIAL E TESTEMUNHO DOS ALUNOS  == -->
        <!-- === Clients Testmonials =========== -->
        @*<div id="clients-testmonials" class="flat-section" data-scroll-index="3">

                <div class="section-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <div class="section-title text-center">
                                    <h2>Nossos Alunos</h2>
                                    <p>
                                        Conheça algumas histórias de nossos usuários e saiba como o <span class="colored">Estudar Faz Bem</span> influenciou
                                        <br>
                                        na busca dos seus objetivos
                                    </p>
                                </div><!-- .section-title end -->

                            </div><!-- .col-md-8 end -->
                            <div class="col-md-12">

                                <div class="testmonials-slider">
                                    <ul class="owl-carousel">
                                        <li>
                                            <div class="slide">
                                                <div class="testmonial-single-1">
                                                    <span class="quote-sign">“</span>
                                                    <div class="ts-content">
                                                        “Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been standard dummy text ever since the 1500s.”
                                                    </div><!-- .ts-content end -->
                                                    <div class="ts-person">
                                                        <h5>Ahmed Hamdy</h5>
                                                        <span>Envato Inc</span>
                                                    </div><!-- .ts-person end -->
                                                </div><!-- .testmonial-single-1 -->
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="testmonial-single-1">
                                                    <span class="quote-sign">“</span>
                                                    <div class="ts-content">
                                                        “Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been standard dummy text ever since the 1500s.”
                                                    </div><!-- .ts-content end -->
                                                    <div class="ts-person">
                                                        <h5>Morad Hamdy</h5>
                                                        <span>PayPal Inc</span>
                                                    </div><!-- .ts-person end -->
                                                </div><!-- .testmonial-single-1 -->
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="testmonial-single-1">
                                                    <span class="quote-sign">“</span>
                                                    <div class="ts-content">
                                                        “Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been standard dummy text ever since the 1500s.”
                                                    </div><!-- .ts-content end -->
                                                    <div class="ts-person">
                                                        <h5>Ahmed Hamdy</h5>
                                                        <span>Envato Inc</span>
                                                    </div><!-- .ts-person end -->
                                                </div><!-- .testmonial-single-1 -->
                                            </div><!-- .slide end -->
                                        </li>
                                    </ul>
                                </div><!-- .testmonials-slider end -->

                            </div><!-- .col-md-12 end -->
                        </div><!-- .row end -->
                    </div><!-- .container end -->

                </div><!-- .section-content end -->

            </div><!-- .flat-section end -->*@
        <!-- ==FIM DO MEU COMENTARIO  == -->
        <!-- === Our Clients =========== -->
        <div id="our-clients" class="flat-section" data-scroll-index="3">

            <div class="section-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-">

                            <div class="clients-slider">
                                @*<ul class="owl-carousel">
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-1.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-2.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-3.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-4.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-5.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                        <li>
                                            <div class="slide">
                                                <div class="client-single"><img src="~/Content/templateNovo/images/files/sliders/clients/img-6.png" alt=""></div>
                                            </div><!-- .slide end -->
                                        </li>
                                    </ul>*@
                            </div><!-- .clients-slider end -->

                        </div><!-- .col-md- end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .section-content end -->

        </div><!-- .flat-section end -->
        <!-- === CTA Title 1 =========== -->
        <div id="cta-title-1" class="flat-section" data-scroll-index="4">

            <div class="section-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="box-cta text-center">
                                <img src="~/Content/templateNovo/images/files/logo-iwm.png" alt="">
                                <h1><span class="colored">Estudar Faz Bem.</span> E aqui é mais divertido</h1>
                                <p>
                                    Nosso objetivo é ajudar você a conquistar seus sonhos!
                                    <br>
                                    Comece a estudar e se divertir agora.
                                </p>
                                <a class="btn scroll-top large colorful hover-dark" href="#">Assine Agora</a>

                                <img class="shape-1 anim-moveleft-seq" src="~/Content/templateNovo/images/files/cta-title-shape-1.png" alt="" data-move-duration="2000" />
                                <img class="shape-2 anim-moveright-seq" src="~/Content/templateNovo/images/files/cta-title-shape-2.png" alt="" data-move-duration="2000" />
                                <img class="shape-3 anim-moveleft-seq" src="~/Content/templateNovo/images/files/cta-title-shape-3.png" alt="" data-move-duration="2000" />
                                <img class="shape-4 anim-moveright-seq" src="~/Content/templateNovo/images/files/cta-title-shape-4.png" alt="" data-move-duration="2000" />
                            </div><!-- .box-cta end -->


                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div><!-- .container end -->

            </div><!-- .section-content end -->

        </div><!-- .flat-section end -->

    </div><!-- #content-wrap -->

</section><!-- #content end -->
<a class="scroll-top-icon scroll-top" href="#"><i class="fa fa-angle-up"></i></a>

